<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <h1>Photo Editing</h1>
    <h2>Gimp</h2>
</head>

<body>
    <div class="container">
    
        <header>
            <h1>Editing Images</h1>
        </header>
        <h2>Cropped and resized</h2>
        <img src="images/candy-corn-1726481_640.jpg" alt="">
        <img src="images/candy-corn-1726481_640-gimp.jpg" alt="">
        <h2>Flipped and resized</h2>
        <img src="images/halloween-7553022_640.jpg" alt="">
        <img src="images/halloween-7553022_640-gimp.jpg" alt="">
        <h2>Flipped and resized</h2>
        <img src="images/maine-coon-694730_640.jpg" alt="">
        <img src="images/maine-coon-694730_640-gimp.jpg" alt="">
        <h2>Cropped and resized</h2>
        <img src="images/pumpkins-5641482_640.jpg" alt="">
        <img src="images/pumpkins-5641482_640-gimp.jpg" alt="">
        <h2>Rotated and resized</h2>
        <img src="images/pumpkins-8287968_640.jpg" alt="">
        <img src="images/pumpkins-8287968_640-gimp.jpg" alt="">
    </div>

</body>

</html>